<!DOCTYPE html>
<html>
<head>
  <title>Maria</title>
  <%= stylesheet_link_tag    "maria/application", :media => "all" %>
  <%= javascript_include_tag "maria/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
