%title Marqeta Gets You More Money at Your Favorite Merchants

%p
  Your Card is now activated! With Marqeta, you get more money for the things
  you buy everyday – groceries, dry cleaning, dining and beyond.

%p
  Begin unlocking the many benefits of the Card by:

%ol
  %li
    Visiting Shop+ (
    %a{:href => "http://www.marqeta.com/shop"}> www.marqeta.com/shop
    ), and checking out the hundreds of merchants and exciting offers

  %li Purchasing offers – all of which give you more money to spend
  %li Paying with your Jamba Juice Sip to Support Marqeta Card at merchants where you’ve taken an offer
  %li Setting Auto-Reload for offers at your favorite merchants - you’ll always get more to spend every time you go!

{% inline_page id:marqeta-email-signature unsubscribe_url: %}
